http_interactions:
- request:
    method: POST
    uri: https://kagi.com/api/v1/search
    body:
      string: '{"query":"kagiPro test","workflow":"search","limit":5,"page":1}'
  response:
    status: 200
    headers:
      x-kagi-trace: e9f6bb880d6517a419ccae0bef6dd0f2
      content-type: application/json
    body:
      string: '{"meta":{"trace":"e9f6bb880d6517a419ccae0bef6dd0f2","ms":8,"node":"europe-west4"},"data":{"search":[{"url":"https://rkrug.github.io/kagiPro/articles/skills-maintainer-workflow.html","title":"Skill:
        Maintainer Workflow • kagiPro","snippet":"Test and Validation Gate Run targeted
        tests for changed modules. Validate cassette integrity if HTTP behavior changed.
        Confirm no stale references remain (legacy names, old fixture paths).","props":{"language":"en","group_id":"rkrug.github.io"}},{"url":"https://rkrug.github.io/kagiPro/articles/skills-maintainer-release-sync.html","title":"Skill:
        Maintainer Release Sync • kagiPro - rkrug.github.io","snippet":"Maintainer
        Release Sync Use this skill for final consistency checks before release or
        merge.","props":{"language":"en","group_id":"rkrug.github.io"}},{"url":"https://rkrug.github.io/kagiPro/news/index.html","title":"Changelog
        • kagiPro","snippet":"Removed unused legacy package assets from inst/ (extdata,
        plantuml, query_test.R). Added AI-doc consistency check script (scripts/check-ai-docs.sh)
        and wired it into CI (R-CMD-check). Added generic reusable maintainer skill
        r-package-developer with: branch protection baseline, release/validation checklist,
        commit template, skill design standard.","props":{"language":"en","group_id":"rkrug.github.io"}},{"url":"https://rkrug.r-universe.dev/kagiPro/doc/quickstart.html","title":"kagiPro
        Quickstart Guide","snippet":"This quickstart is a complete first run with
        kagiPro: install the package, create a secure connection, build queries, execute
        requests, and store responses in a format ready for analysis. The package
        is intentionally structured around a stable pattern: Create query objects
        with endpoint-specific constructors.","time":"2026-04-16T09:33:14Z","props":{"language":"en","language_probability":0.8304932713508606,"group_id":"rkrug.r-universe.dev"}},{"url":"https://rkrug.r-universe.dev/kagiPro/doc/search-endpoint.html","title":"kagiPro
        Search Endpoint Guide","snippet":"Search Endpoint: From Question to Reusable
        Search Pipeline. The Search endpoint is usually the first place where users
        build production workflows with kagiPro. This guide follows one realistic
        path: starting from a single question, refining the query syntax, scaling
        to batches, and choosing an error strategy that matches your use case. Start
        with a reusable connection.","time":"2026-04-27T17:29:16Z","props":{"language":"en","language_probability":0.8240002989768982,"group_id":"rkrug.r-universe.dev"}}],"adjacent_question":[{"url":"https://pharmeasy.in/health-care/products/kabipro-vanilla-sugarfree-whey-protein-tin-of-400-g-179699","title":"Kabipro
        Vanilla Sugarfree Whey Protein Tin Of 400 G - PharmEasy","snippet":"Kabipro
        Protein 100% whey powder is sugar-free and helps in digestion as well as boosts
        immunity. It is available in a tasty vanilla flavour and also prevents the
        deterioration of muscles and tissues. Kabipro powder is an ideal nutritional
        supplement to help fill up the protein gap in your daily diet.","props":{"question":"What
        is kabipro used for?","language":"en","language_probability":0.9249500632286072}},{"url":"https://www.amazon.in/Kabi-Pro-100-Whey-Protein/dp/B0FCSJNDHL","title":"Kabi-
        Pro 100% Whey Protein – Premium Muscle Recovery ...","snippet":"Packed with
        fast-absorbing whey protein isolate and concentrate, it delivers a powerful
        blend of essential amino acids, including BCAAs, to promote lean muscle growth,
        speed up recovery, and enhance performance.","props":{[...]
