http_interactions:
- request:
    method: POST
    uri: https://kagi.com/api/v1/search
    body:
      string: '{"query":"alpha","workflow":"search","limit":5,"page":1}'
  response:
    status: 200
    headers:
      x-kagi-trace: 84a884f2c08d9fb1e6f0afffb192a7e0
      content-type: application/json
    body:
      string: '{"meta":{"trace":"84a884f2c08d9fb1e6f0afffb192a7e0","ms":821,"node":"europe-west4"},"data":{"search":[{"url":"https://alphausa.org/","title":"Alpha
        USA: Alpha Course | Explore Life, Faith &amp; Meaning","snippet":"The Alpha
        course is a safe space to explore the Christian faith and ask big questions.
        Find an Alpha program near you and start the conversation.","props":{"language":"en","language_probability":0.8350414633750916,"group_id":"alphausa.org"}},{"url":"https://alphausa.org/try/","title":"Find
        an Alpha Course Near You | Try Alpha","snippet":"If you want a judgment-free
        space to explore difficult questions about life, faith, and meaning, and to
        share your views, Alpha is the place for you.","props":{"language":"en","language_probability":0.923733651638031,"group_id":"alphausa.org"}},{"url":"https://en.wikipedia.org/wiki/Alpha","title":"Alpha
        - Wikipedia","snippet":"Alpha is the first lette[...]
[...]
