http_interactions:
- request:
    method: POST
    uri: https://kagi.com/api/v0/fastgpt
    body:
      string: '{"query":"What is Python 3.11?","cache":true,"web_search":true}'
  response:
    status: 200
    headers:
      x-kagi-trace: 54c06ae37f0cecce2a639f7e44fc8030
      content-type: application/json
    body:
      string: '{"meta":{"id":"54c06ae37f0cecce2a639f7e44fc8030","node":"europe-west4","ms":12,"api_balance":102.492337},"data":{"output":"**Python
        3.11** is a significant release of the Python programming language, introducing
        numerous new features and optimizations 【2】 【7】. It is known for its performance
        improvements, with the Faster CPython Project contributing to speeds that
        are 10-60% faster than Python 3.10, averaging a 1.22x speedup on standard
        benchmarks 【2】.\n\nKey enhancements in Python 3.11 include:\n\n*   **\"Frozen\"
        Core Modules**: Essential modules for Python startup [...]
