http_interactions:
- request:
    method: GET
    uri: https://kagi.com/api/v0/enrich/web?q=open+data
  response:
    status: 200
    headers:
      x-kagi-trace: 263b6f74b93e20b3ca36c5ee420b2e22
      content-type: application/json
    body:
      string: '{"meta":{"id":"263b6f74b93e20b3ca36c5ee420b2e22","node":"europe-west4","ms":680,"api_balance":102.494337},"data":[{"t":0,"url":"https://shkspr.mobi/blog/2015/02/almost-open-data/","title":"*Almost*
        Open Data","snippet":"Inspired by a session at Open Data Camp called &quot;Open
        Data Horror Stories&quot;) I would like this data, please, in a format which
        I can edit, such as a CSV file, or one which I can enter into a mapping service,
        such as a GPX/KML file. That&#39;s the beauty of open data - it opens up endless
        possibilities.","published":"2015-02-01T00:00:00Z"},{"t":0,"url":"http://opendatastructures.org/","title":"Open
        Data Structures Book","snippet":"Data structures presented in the book include
        stacks, queues, deques, and lists implemented as arrays and linked-lists;
        space-efficient implementations of lists; skip lists; hash tables and hash
        codes; binary search trees including treaps, scapegoat trees, and red-black
        trees; integer searching structures including binary tries, x-fast tries[...]
